body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #e0e0e0;
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #ffeb3b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* video */
    .video-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
    }

    .video-container video{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
      }
      .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
      }


      .contact {        
        text-align: left; 
        max-width:1000px;
      }

/* description */
    .description-container ul {
        padding: 0;
        text-align: left; 
        display: inline-block; 
    }

    .description-container ul li {
        margin-bottom: 10px;
        max-width: 600px;
    }

    .description-container p {
        margin-bottom: 10px;
    }

/* Tabs */
    .tabs {
        display: flex;
        justify-content: space-around;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
    }

    /* Estilo para los botones de las pestañas */
    .tablink {
        background-color: #444;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 5px;
    }

    /* Estilo para el botón activo */
    .tablink.active {
        background-color: #666;
    }

    /* Efecto hover para los botones */
    .tablink:hover {
        background-color: #555;
    }

    /* Estilo para el contenido de las pestañas */
    .tabcontent {
        display: none;
        padding: 20px;
        background-color: #222;
        color: white;
        border-radius: 5px;
        margin-top: 10px;
    }

    /* Mostrar el contenido activo */
    .tabcontent.active {
        display: block;
    }

    /*///////////// Shadow over innsmouth style START /////////////*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

:root{
    --white: #fbfada;
    --black: #010604;
}

.innsmouth{
    font-family: "Libre Baskerville", serif;
    color: var(--white);
    background-color: var(--black);
    position: relative;
    padding: 20px 0;
}

/* Enlaces */
.innsmouth a{
    color: #808933;
}

.innsmouth a:visited{
    color: #a79b22;
}

/* Imagen de fondo */
.innsmouth .background_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* filter: blur(2px); */
}

/* Title */
.innsmouth .title-container{
    text-align: center;
    font-size: 1.2em;
    position: relative;
    z-index: 10;
}
.innsmouth .title-container .cursive{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 1.5em;
}


/* Images */
.innsmouth .image-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 10;
}

.innsmouth .image-container img:nth-child(1){
    rotate: -5deg;
}

.innsmouth .image-container img:nth-child(2){
    rotate: -1deg;
}

.innsmouth .image-container img:nth-child(3){
    rotate: 3deg;
}

/* Description */
.innsmouth .description-container{
    margin: auto;
    position: relative;
    z-index: 10;
}

.innsmouth .description-container .description{
    text-align: center;
    margin-bottom: 3em;
}

.innsmouth .description-container .list-contributions{
    width: fit-content;
    margin: auto;
    rotate: -5deg;
    /* background-color: var(--white); */
    background-image: url("images/background_menus_1.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    color: var(--black);
    padding: 12px 20px;
}

.innsmouth .description-container .list-contributions h4{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 24px;
}

.innsmouth .description-container .list-contributions li{
    font-weight: 900;
    padding-bottom: 8px;
}
/*///////////// Shadow over innsmouth style END /////////////*/